<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <th>
        <%= link_to "◀", user_path(date: @first_day.prev_month), class: "btn btn-primary " %>
        　<%= l(@first_day, format: :middle) %>　勤怠管理表　
        <%= link_to "▶", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
      </th>
      <td>指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
      <td>基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td>初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>
<div class="btn-users-show">
  
  <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>

</div>
<div>
  <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="2">日付</th>
        <th rowspan="2">曜日</th>
     
        <th colspan="2">出社</th>
      
        <th colspan="2">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
      </tr>
      <tr>
        
      <th>時</th><th>分</th>
      <th>時</th><th>分</th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td>
            <% if day.worked_on.wday == 0 %>
               <%= tag.span($days_of_the_week[day.worked_on.wday],class: 'sunday') %>
             <% elsif day.worked_on.wday == 6 %>
               <%= tag.span($days_of_the_week[day.worked_on.wday], class: 'saturday') %>
             <% else %>

            <%= $days_of_the_week[day.worked_on.wday] %>
            <% end %>
          </td>
          <td><%= day.started_at.hour if day.started_at.present? %></td>
          <td> <%= format_min(day.started_at) if day.started_at.present? %></td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          
          <td><%= day.finished_at.hour if day.finished_at.present? %></td>
          <td> <%= format_min(day.finished_at) if day.finished_at.present? %></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      
      <tr>
        
        <td colspan="2"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan="2"></td>
        <td colspan="2"><%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan="2">所属長承認</td>
      </tr>
    </tfoot>
    </table>
</div>
